# **DataSheet Description**

---


En este proyecto emplearemos un dataset que contiene información de los resultados de las carreras de el panorama nacional de carreras de caballos.

- **Puesto** (Clase): Posición en la que terminan la carrera **int64**
- **NombreCaballo**: Nombre de caballo  **object**
- **Peso** : Peso de caballo  **object**
- **Edad**: Edad de caballo **int64**
- **DistanciaMeta**: Distancia respecto a ganador en llegada a meta **object**
- **Mantilla**: Dorsal   **int64**
- **Dividendo** : Pago por euro apostado por ganador de carrera **object**
- **Propietario** : Cuadra Propietaria **object**
- **Preparador**: Nombre Preparador **object**
- **Jinete**: Jinete o Amazona que monta al caballo en esta carrera  **object**
- **Problemas**: Problemas que posee en esta carrera el caballo  **object**
- **UltimasActuaciones** : Posiciones en las que acaba el caballo de mas antigua a mas reciente (de izquierda a derecha)  **object**
- **Fecha**: Fecha Carrera   **object**
- **Hora**: Hora carrera  **object**
- **Terreno**: Estado del terreno en carrera **object**
- **Distancia**: Longitud carrera  **float64**
- **Tipo**: Tipo de terreno en carrera  **object**
- **Categoría**: Categoria Caballos Participantes  **object**
- **SentidoHipodromo**:  (0 -> Sentido Normal, 1 -> Inverso) **int64**
- **Meteorología**: Previsión estado meteorología del día entero **object**
- **LLuvia**: Previsión cantidad de lluvia del dia entero  **object**
- **Viento**: Previsión velocidad de viento del dia entero  **int64**
- **TemperaturaMax**: Previsión de temp. máxima del día entero  **int64**
- **TemperaturaMin**: Previsión de temp. mínima del dia entero  **int64**
- **Hipodromo**: Nombre del hipódromo de la carrera   **object**

In [1]:
import pandas as pd
import numpy as np
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import sklearn.compose
from xgboost import XGBClassifier
from sklearn.metrics import f1_score

url = 'https://raw.githubusercontent.com/SergioNietoP/machine-learning-datasheets/main/Learning%20Datasheets/Turf%20Prediction/Train%201.0%20Data%20Turf%20Races.csv'

train = pd.read_csv(url, sep=',')
ogData = train
train.head()
train.count()

Puesto                128
NombreCaballo         128
Peso                  128
Edad                  128
DistanciaMeta         112
Mantilla              128
Dividendo             128
Propietario           128
Preparador            128
Jinete                128
Problemas              71
UltimasActuaciones    128
Fecha                 128
Hora                  128
Terreno               128
Distancia             128
Tipo                  127
Categoría             128
SentidoHipodromo      128
Meteorología          128
LLuvia                128
Viento                128
TemperaturaMax        128
TemperaturaMin        128
Hipodromo             128
dtype: int64

# Preprocesamiento
---

In [2]:
train.head(5)

,Puesto,NombreCaballo,Peso,Edad,DistanciaMeta,Mantilla,Dividendo,Propietario,Preparador,Jinete,...,Distancia,Tipo,Categoría,SentidoHipodromo,Meteorología,LLuvia,Viento,TemperaturaMax,TemperaturaMin,Hipodromo
0,1,SAFAGA,57,2,NaN,6,"1,9",ASOC.LA TOLEDANA...,CH.DELCHER,G.GUEDJ-GAY,...,1500,Liso,C,0,Parcialmente nublado,"0,1",10,18,11,La Zarzuela
1,2,ROCK MOON,57,2,1 1/2 C,5,"5,9",MEDREAL,G.ARIZKORRETA,V. JANACEK,...,1500,Liso,C,0,Parcialmente nublado,"0,1",10,18,11,La Zarzuela
2,3,ISOLDA,57,2,1 1/4 C,3,"2,5",EL HERROJO,J.M.OSORIO,J.GELABERT,...,1500,Liso,C,0,Parcialmente nublado,"0,1",10,18,11,La Zarzuela
3,4,LADY CLUNIA,57,2,10 C,4,"15,3",BRAZACORTA,B.RAMA,B. FAYOS,...,1500,Liso,C,0,Parcialmente nublado,"0,1",10,18,11,La Zarzuela
4,5,DE FIESTA (IRE) (a),57,2,1 1/2 C,2,"18,1",REZA PAZOOKI,O.ANAYA,R.N.VALLE,...,1500,Liso,C,0,Parcialmente nublado,"0,1",10,18,11,La Zarzuela

## **Tratamiento (NombreCaballo)**

In [3]:
train['NombreCaballo'] = train['NombreCaballo'].str.partition('(')[0]

In [4]:
train['NombreCaballo'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

TIHANNA                2
BLUE MOON EYES         2
SMASH HIT              2
PIU BIRCH              1
ALBORAN                1
DAIQUIRYA              1
BRIAREO                1
KWA HERI               1
CASANDRA               1
PEKEN                  1
AL BARIN               1
PAPYRUS ROAD           1
HARVAC                 1
MARY JOE               1
NOOZHAH SUREÑA         1
ASTUTO                 1
ATLANTA                1
HELHEIM                1
KOHOOF                 1
VEGADEO                1
BORONDON               1
CAT HACLYSME           1
FAMILY TRIP            1
LADY MCQUEEN           1
COLOSAL                1
INCREDIT               1
PREMIERE RHAPSODIE     1
AVE MUNDI              1
PERFECT SUNRISE        1
BARBADO                1
SOMETHING              1
DERDAS                 1
COOLMEEN VEGA          1
SAFAGA                 1
GLORYTOF               1
Name: NombreCaballo, dtype: int64

## **Tratamiento (Peso)**

In [5]:
train['Peso'] = train['Peso'].str.partition('-')[0]
train['Peso'] = train['Peso'].str[:2]

In [6]:
train['Peso'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

57    24
60    18
56    15
59    14
58    13
61    10
54     7
52     7
55     6
63     4
62     3
53     3
65     2
66     2
Name: Peso, dtype: int64

## **Tratamiento (Edad)**

In [7]:
train['Edad'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

2    35
3    28
4    26
5    19
6    11
7     7
8     2
Name: Edad, dtype: int64

## **Tratamiento (DistanciaMeta)**

In [8]:
train['DistanciaMeta'] = train['DistanciaMeta'].str.partition(' ')[0]
train['DistanciaMeta'].head(10)

0      NaN
1        1
2        1
3       10
4        1
5    LEJOS
6      NaN
7        1
8      1/2
9        9
Name: DistanciaMeta, dtype: object

## **Tratamiento (Mantilla)**

In [9]:
train['Mantilla'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

6     12
4     12
2     12
1     12
5     12
3     12
7     10
8     10
9      9
10     7
11     7
12     6
13     2
15     1
14     1
18     1
17     1
16     1
Name: Mantilla, dtype: int64

## **Tratamiento (Dividendo)**

## **Tratamiento (Propietario)**

In [10]:
train['Propietario'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

CUADRA A.F.F S.L       6
REZA PAZOOKI           5
MARQUES DE MIRAF...    4
BOLAK                  4
ISLA DE FUERTEVE...    4
MEDITERRANEO           4
E. PEREZ GUZMAN        3
COCHETEUX              3
YEGUADA AGF            2
AGRADO                 2
ANNUA RACING, S....    2
LEONESA                2
LAC INTERNACIONA...    2
BRAZACORTA             2
4 C                    2
NEW BEGINNINGS         2
BERNIE                 2
DELTA                  2
YEGUADA ROCIO          2
YEGUADA VALMODOM...    2
HERMANOS ABOIN         2
CELSO MENDEZ           2
TINERFE                2
ZUL                    2
CANARIAS               2
EL PLACAJE             1
EVANS MARCH            1
SAN MARCOS             1
SOÑADOR                1
SUREÑA                 1
MADRIZ                 1
ROISAJU LOPEZ, S...    1
CARAL                  1
BELEN                  1
SAYAGO                 1
Name: Propietario, dtype: int64

## **Tratamiento (Preparador)**

In [11]:
train['Preparador'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

O.ANAYA          14
G.ARIZKORRETA    14
J.LOPEZ           9
J.A.RODRIGUEZ     7
M&M RACING        7
F.RODRIGUEZ       7
CH.DELCHER        6
B.RAMA            6
J.C.CERQUEIRA     6
F.JIMENEZ         5
A.SOTO            5
E.ARGUINZONES     3
A.CARRASCO        3
J.HORCAJADA       3
C.FERNANDEZ       3
M.ALVAREZ         3
D.BENITEZ         2
M.A.MARIN         2
J.C.ROSELL        2
J.M.OSORIO        2
B.MORENO          2
P.OLAVE           2
J.L.MAROTO        2
G.VAZ             2
A.TSERETELI       2
H.PEREIRA         1
M.DELCHER S.      1
R.COSTA           1
M.PULIDO          1
A.IMAZ,B.         1
F.PEREZ           1
A.NUÑEZ           1
R.MARTIN A.       1
P. ITURREGUI      1
Name: Preparador, dtype: int64

## **Tratamiento (Jinete)**

In [12]:
train['Jinete'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

B. FAYOS               11
V. JANACEK             11
J.GELABERT             10
R.N.VALLE               9
C. CADEL                7
C.PEREZ                 7
J.L. MARTINEZ           7
J.L. BORREGO            7
N. DE JULIAN            5
R. SOUSA                5
STA. BUESA,C.           5
R. RAMOS                4
D. FERREIRA             4
B.ESTUPIÑAN             3
N. GARCIA               3
V.ALONSO V.             3
G.GUEDJ-GAY             3
A.OLIVAS                3
A.MARTINEZ              2
N.SACCU                 2
L.CASTILLON             2
D.SIKOROVÁ              1
SRTA BALCONES T....     1
SRTA. TENA, C.          1
SRTA. LOPEZ, D.         1
SRTA.BROTHERTON,...     1
SRTA.GIAVARINI,S...     1
C.HAZEN                 1
L.FONSECA               1
O. PESLIER              1
Y.RODRIGUEZ             1
F.MARTINEZ              1
F. VERON                1
P.BAZIRE                1
SRTA RELAÑO,R.          1
Name: Jinete, dtype: int64

## **Tratamiento (Problemas)**

In [13]:
train['Problemas'].value_counts()[:35].sort_values(ascending=False) #90 primeras apariencias >= 3

-8           28
-3           14
-5            9
(4)(8)        4
-4            3
-2            3
(2)(5)(8)     2
(3)(8)        2
(5)(8)        2
(2)(4)(8)     2
(2)(3)(8)     1
(2)(5)        1
Name: Problemas, dtype: int64

In [14]:
train['Problemas'] = train['Problemas'].fillna('0')
train['Problema_Nulo'] = np.where(train['Problemas'].str.contains('0'),1,0)
train['Problema_1'] = np.where(train['Problemas'].str.contains('1'),1,0)
train['Problema_2'] = np.where(train['Problemas'].str.contains('2'),1,0)
train['Problema_3'] = np.where(train['Problemas'].str.contains('3'),1,0)
train['Problema_4'] = np.where(train['Problemas'].str.contains('4'),1,0)
train['Problema_5'] = np.where(train['Problemas'].str.contains('5'),1,0)
train['Problema_6'] = np.where(train['Problemas'].str.contains('6'),1,0)
train['Problema_7'] = np.where(train['Problemas'].str.contains('7'),1,0)
train['Problema_8'] = np.where(train['Problemas'].str.contains('8'),1,0)
train.head()

,Puesto,NombreCaballo,Peso,Edad,DistanciaMeta,Mantilla,Dividendo,Propietario,Preparador,Jinete,...,Hipodromo,Problema_Nulo,Problema_1,Problema_2,Problema_3,Problema_4,Problema_5,Problema_6,Problema_7,Problema_8
0,1,SAFAGA,57,2,NaN,6,"1,9",ASOC.LA TOLEDANA...,CH.DELCHER,G.GUEDJ-GAY,...,La Zarzuela,1,0,0,0,0,0,0,0,0
1,2,ROCK MOON,57,2,1,5,"5,9",MEDREAL,G.ARIZKORRETA,V. JANACEK,...,La Zarzuela,1,0,0,0,0,0,0,0,0
2,3,ISOLDA,57,2,1,3,"2,5",EL HERROJO,J.M.OSORIO,J.GELABERT,...,La Zarzuela,1,0,0,0,0,0,0,0,0
3,4,LADY CLUNIA,57,2,10,4,"15,3",BRAZACORTA,B.RAMA,B. FAYOS,...,La Zarzuela,0,0,0,0,0,0,0,0,1
4,5,DE FIESTA,57,2,1,2,"18,1",REZA PAZOOKI,O.ANAYA,R.N.VALLE,...,La Zarzuela,0,0,0,0,0,0,0,0,1

## **Tratamiento (UltimasActuaciones)**

In [15]:
def count_lastRaces(arrayLast):
  index = 0
  for element in arrayLast:
    element = element.replace(',', '')
    element = element.replace('[', '')
    element = element[:len(element)-1]
    i = 0
    j = 0
    sum = 0
    if 'Debutante' in element:
      sum = 10
    else:
      element = element.replace('NP', '08')
      element = element.replace('Desc', '08')
      element = element.replace(' ', '')
      while(i < len(element)):
        if(i == (len(element)-2) and len(element)>4):
          j = j+2
          sum += int(element[i:j])*0.4
          i = i+2 
        elif (i == (len(element)-4) and len(element)>4):
          j = j+2
          sum += int(element[i:j])*0.8
          i = i+2 
        else:
          j = j+2
          sum += int(element[i:j])
          i = i+2
      print(element)
      print(sum)
      sum = sum / len(element)
      train.at[index, 'MediaUltimasActuaciones'] = sum
      train.at[index, 'CantidadActuaciones'] = len(element)
      index += 1



t_array = train["UltimasActuaciones"]
count_lastRaces(t_array)

020401
5.6000000000000005
0406
10
01
1
0815
23
0911
20
0705
12
0108
9
02
2
050404
9.799999999999999
0714050102
27.6
0307
10
0505090302
22.2
0406
10
12
12
0905040206
22.0
0303
6
04
4
04
4
04
4
030406
8.600000000000001
10
10
0806
14
13
13
16
16
15
15
0604060302
19.2
0103010805
13.4
0908090104
28.400000000000002
0803030305
18.4
0403010401
11.6
0503010502
13.8
0606050106
20.200000000000003
0401040504
14.6
0704050601
21.2
0902080101
20.2
0302030108
12.0
0501020601
13.200000000000001
0201060501
13.4
0104010310
12.4
0402050202
13.4
0201030102
7.6
0308050701
22.0
0403050205
15.6
0103050804
17.0
0304030402
14.0
0506020101
14.200000000000001
0104040202
11.4
0308050102
17.6
0409030704
23.200000000000003
0301050206
13.0
0505030403
17.4
1208060804
34.0
0405091004
27.6
0308070503
23.2
0705040403
20.4
0316020415
30.2
1003090505
28.0
1306090815
40.4
0704050301
18.799999999999997
1006050401
24.599999999999998
0401100405
20.2
0604090113
25.0
0506020407
19.0
0911100406
35.6
0708041305
31.4
1208040605
30.8
0808090610
33.8
060204
9.2
060506
12.4
03010304
8.0
070204
10.2
0509030206
21.0
101308
23.599999999999998
070708
15.8
12050606
24.200000000000003
0402040202
12.4
0504030506
18.4
0203070602
17.6
0906060203
23.8
0407010403
16.4
0603040801
19.799999999999997
0403
7
0701050503
18.2
0503020102
11.600000000000001
0805050205
21.6
0404080308
21.599999999999998
1010010106
24.200000000000003
090907
19.0
0201010106
7.2
0810040201
24.0
0302010102
7.6
0510040301
21.799999999999997
0302030406
13.6
0205060307
18.2
0513060108
28.0
0705040304
20.0
0911040108
28.0
0703090307
24.2
0501060702
18.400000000000002
0801070802
23.2
0301010202
7.3999999999999995
0503081104
26.400000000000002
0104050608
18.0
0805070101
21.2
0104050403
14.399999999999999
0204031205
20.6
0101010301
5.800000000000001
0401030205
11.6
0205010807
17.2
0208010104
13.4
0905010201
17.0
0302010102
7.6
0210020208
18.8
0101010606
10.200000000000001
0205030102
11.600000000000001
0301080401
15.6
0808030303
22.599999999999998
0704091003
29.2
0502011002
16.8
0201020606
12.200000000000001
0305010406
14.6
0202040307
13.200000000000001
1705030806
33.8
1005040302
22.2
0808040503
25.2
1103020201
18.0
0408040105
18.8

In [16]:
 train['MediaUltimasActuaciones'].head(20)

0     0.933333
1     2.500000
2     0.500000
3     5.750000
4     5.000000
5     3.000000
6     2.250000
7     1.000000
8     1.633333
9     2.760000
10    2.500000
11    2.220000
12    2.500000
13    6.000000
14    2.200000
15    1.500000
16    2.000000
17    2.000000
18    2.000000
19    1.433333
Name: MediaUltimasActuaciones, dtype: float64

## **Tratamiento (Fecha)**

In [17]:
from datetime import date
from datetime import datetime

def switchMonth(month):
  if month == 'ENERO':  
   return '01'
  elif month == 'FEBRERO':
    return '02'            
  elif month == 'MARZO':
   return '03'
  elif month == 'ABRIL':
    return '04' 
  elif month == 'MAYO':
    return '05'                  
  elif month == 'JUNIO':
    return '06'
  elif month == 'JULIO':
    return '07'
  elif month == 'AGOSTO':
    return '08'
  elif month == 'SEPTIEMBRE':
    return '09'
  elif month == 'OCTUBRE':
     return '10'
  elif month == 'NOVIEMBRE':
    return '11'
  elif month == 'DICIEMBRE':
    return '12'

def convertDate(fechas):
  index = 0
  for element in fechas:
    sum = 0
    year = element[-4:]
    dateAux = year
    day = element[:2]
    if(int(day) < 10):
      day = "0" + day[:1]
    month = element[5:]
    month = ''.join(month.split())[:-6].upper()
    month = switchMonth(month)
    dateAux = dateAux + "-" + month + "-" + day

    today = date.today()
    yearToday = int(str(today)[:4])
    monthToday = int(str(today)[5:7])
    dayToday = int(str(today)[8:10])
    if(yearToday > int(year)):
      sum += (yearToday - int(year))*365
    sum += (monthToday - int(month))*30
    sum += (dayToday - int(day))
    print(dateAux)
    # datetimeAux = datetime.strptime(str(dateAux), '%Y-%m-%d')
    # train.at[index, 'Fecha'] = datetimeAux
    train.at[index, 'DiasDesdeCarrera'] = sum
    index += 1
   




t_array = train["Fecha"] 
convertDate(t_array)
train['DiasDesdeCarrera'].head(70)

2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06

0     13.0
1     13.0
2     13.0
3     13.0
4     13.0
      ...
65    13.0
66    13.0
67    13.0
68    20.0
69    20.0
Name: DiasDesdeCarrera, Length: 70, dtype: float64

In [18]:
train.head(5)

,Puesto,NombreCaballo,Peso,Edad,DistanciaMeta,Mantilla,Dividendo,Propietario,Preparador,Jinete,...,Problema_2,Problema_3,Problema_4,Problema_5,Problema_6,Problema_7,Problema_8,MediaUltimasActuaciones,CantidadActuaciones,DiasDesdeCarrera
0,1,SAFAGA,57,2,NaN,6,"1,9",ASOC.LA TOLEDANA...,CH.DELCHER,G.GUEDJ-GAY,...,0,0,0,0,0,0,0,0.933333,6.0,13.0
1,2,ROCK MOON,57,2,1,5,"5,9",MEDREAL,G.ARIZKORRETA,V. JANACEK,...,0,0,0,0,0,0,0,2.500000,4.0,13.0
2,3,ISOLDA,57,2,1,3,"2,5",EL HERROJO,J.M.OSORIO,J.GELABERT,...,0,0,0,0,0,0,0,0.500000,2.0,13.0
3,4,LADY CLUNIA,57,2,10,4,"15,3",BRAZACORTA,B.RAMA,B. FAYOS,...,0,0,0,0,0,0,1,5.750000,4.0,13.0
4,5,DE FIESTA,57,2,1,2,"18,1",REZA PAZOOKI,O.ANAYA,R.N.VALLE,...,0,0,0,0,0,0,1,5.000000,4.0,13.0

In [19]:
import datetime

# def daysSincePreviousRace(fechas):
#   index = 0
#   for element in fechas:
#     for elementOther in fechas: # Recorremos todos los elementos otra vez y comprobamos cual posee la fecha mas antigua ( element != elementOther) y calculamos diferencia (de dias) entre fecha carrera actual y fecha carrera anterior
#       print(elementOther)

def daysSincePreviousRace(nombres , fechas):
  index = 0
  for caballo in nombres:
    indexAux = 0
    nombresAparece = []
    for otroCaballo in nombres:
      if(otroCaballo == caballo):
        nombresAparece.append(index)
      indexAux += 1
    fechaCaballoActual = train.at[index, 'Fecha']
    fechaMasReciente = datetime.datetime(2020, 1, 1)
    indexAux2 = 0
    fechaCambiada = False
    for aparicion in nombresAparece:
      if(train.at[aparicion, 'Fecha'] < fechaCaballoActual): 
        if(indexAux2 == 0):
          fechaMasReciente = train.at[aparicion, 'Fecha']
          fechaCambiada = True
        elif(train.at[aparicion, 'Fecha'] > fechaMasReciente):
          fechaMasReciente =  train.at[aparicion, 'Fecha']
    if(fechaCambiada):
      diferenciaDias = fechaCaballoActual - fechaMasReciente
    else:
      diferenciaDias = 45
    print(diferenciaDias)


eventos = train['NombreCaballo']
fechas = train['Fecha']
# daysSincePreviousRace(eventos);
daysSincePreviousRace(eventos,fechas)
# Recorro los nombres de caballos y guardo en un array los index de las columnas ligadas a un nombre de Caballo y despues recorrer las fechas y cuando coincida el array comprobar si ese dat
# es mas antiguo que la fecha de la fila actual y en el caso de serlo compruebo si es la más antigua.

45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45